header {
    width: 100%;
    height: 200px;
    color: #B2E5AA;
    background-color: #8B004B;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background:#B2E5AA;
    height: 100%;
    margin: 0;
}


footer {
    width: 100%;
    height: 100px;
    color: #B2E5AA;
    background-color: #8B004B;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p {
    color: #ffffff;  text-shadow:0 0 10px #210012, 0 0 20px #210012,0 0 40px #210012;
}

a {
    color: #B2E5AA;
}

li {
    color: #ffffff;
     text-shadow:0 0 10px #210012, 0 0 20px #210012,0 0 40px #210012;
}


h2 {
    color: #ffffff; text-shadow:0 0 10px #210012, 0 0 20px #210012,0 0 40px #210012;
}